.container{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.box {
    background-color: orange;
    width: 150px;
    height: 100px;
    margin: 10px;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #333;
}

.box:hover {
    background-color: rgb(245, 198, 110);
    width: 154px;
    height: 104px;
    margin: 8px;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #333;
}

@media all and (max-width: 750px) {
    .box {
        background-color: orange;
        width: 120px;
        height: 90px;
        margin: 7px;
    }
    .box:hover {
        background-color: rgb(245, 198, 110);
        width: 124px;
        height: 94px;
        margin: 5px;
    }
}