body {
    background-color: #ADD8E6;
}

table {
    border-collapse: separate;
    table-layout: auto;
    border: 1px solid black;
}

tr {
    text-align: center;
}

th, td {
    border: 1px solid black;
    text-align: center;
}
