#main-content1 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
  min-height: 90%;
}
#main-content2 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
  min-height: 90%;
}

.content-wrapper {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 2;
}
.row {
  max-width: 80rem;
}
img {
  margin: 10px;
}
img.float-left {
  margin-left: 0;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.top-bar span.name {
  display: inline;
  font-weight: 700;
  margin-left: 5px;
}
.ui.secondary.vertical.pointing.menu {
  border: none;
  border-left: 3px solid rgba(0, 0, 0, 0.1);
}
.ui.secondary.vertical.pointing.menu > .item {
  border-right: none;
}
.ui.secondary.vertical.menu .item {
  display: block;
  height: auto!important;
  border-top: none;
  border-left: 0 solid rgba(0, 0, 0, 0);
  border-right: none;
}
.ui.secondary.vertical.menu .active.item {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ui.secondary.vertical.pointing.menu>.item {
  margin: 0 0 0 -3px;
  border-bottom: none;
  border-left: 3px solid transparent;
  border-radius: 0;
}
.header.item i {
  font-size: 20px;
  float: right;
  margin-top: -9px;
}

html,
body {
    color: #555;
}
.content-wrapper {
    background: #f1f2f6;
}
h1 a,
h1 a:hover {
    color: #222222;
}
.article_pub-date {
    color: #949494;
}
.ui.vertical.menu > .item.active {
    border-right-color: #00B9F0;
    color: #00B9F0;
}
button, .button {
    background-color: rgb(0, 181, 173);
}
button:hover, .button:hover {
    background: rgba(0, 181, 173,0.7);
}
.top-bar, .top-bar.expanded {
    background: rgba(0, 181, 173,0.8);
}
li.menu-icon i {
    color: rgb(148, 223, 219);
}

.ui.secondary.vertical.menu .active.item {
    border-color: rgb(0, 181, 173)!important;
    color: rgb(0, 181, 173)!important;
}

@import url("//fonts.googleapis.com/css?family=Roboto:300italic,400italic,700italic,400,300,700");

html,body{
    font-family: Roboto, "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
}

.top-bar .name h1 a {
    font-weight: 700;
    font-size: 2em;
}